<!DOCTYPE HTML>
<html>
<head>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PATTERNS">
    <meta property="og:description" content="PATTERNS, a collection by EM4V. Free to use non-commercial Wallpapers">
    <meta property="og:footer" content="PATTERNS by EM4V">
    <meta name="theme-color" content="COLOR_HERE">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    {% include header.html %}
</head>
<body>

    {{ content }}
    
    {% include footer.html %}
</body>
</html>
